---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="404, WHOOPS!">
    <h1>ERROR 404!</h1>
    <h1>.·´¯`(&gt;▂&lt;)´¯`·.</h1>
    <h2>SORRY! This page doesnt exist!</h2>
</BaseLayout>
