---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Sam Watts</h1>
    <h2>About Me</h2>
    <p>Heyyyyy, my name is Sam and i like to code! ╰(*°▽°*)╯</p>
  </body>
</html>
