---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Blog">
    <p>I have nothing interesting to say... stop looking at this (ｏ‵-′)ノ”(ノ﹏&lt;。)</p>
    <ul>
        <li><a href="/posts/post-1/">Post 1</a></li>
    </ul>
</BaseLayout>
