---

---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
    </head>
    <body>
        <div>
            <a href="/">Home</a>
            <a href="/about/">About Me</a>
            <a href="/blog/">blog</a>
            <a href="/404/">404</a>
        </div>
        <div>
            <h1>Home</h1>
            <p>Heyyyyy, welcome to my site! (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧</p>
        </div>
    </body>
</html>
